# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
runs/
*.egg-info/
.installed.cfg
*.egg

#json files
*.json

#csv files
*.csv

# weight files
*.pt

# peft adapters
*.bin

# peft folder
peft_model/

# pytorch files
*.pth

# chroma files
*.sqlite3

# cache files
__pycache__/